.container {
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 100px);
  height: 600px;
  justify-items: end;
  align-items: center;

  justify-content: center;
  align-content: center;

  .item-1 {
    justify-self: stretch;
    align-self: stretch;
    transform: skew(10deg, 10deg);
  }

  .item-2 {
    justify-self: center;
    align-self: center;
    transform: rotate(45deg);
  }

  .item-3 {
    justify-self: center;
    align-self: center;
    transform: rotate(45deg);
  }

  .item-4 {
    transform: skew(10deg, 10deg);
    justify-self: stretch;
    align-self: stretch;
  }
}
